@charset "UTF-8";
body {
  margin: 0;
  font-family: "微软雅黑",sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#header {
  height: 44px;
  background: #252934;
  color: white;
}

#header .header-inner {
  width: 1200px;
  height: 44px;
  margin: 0 auto;
}

#header .info {
  line-height: 44px;
}

#header .info h1 {
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  float: left;
}

#header .info h1 span {
  margin-left: 20px;
  color: #ccc;
}

#header .control {
  padding-top: 9px;
  height: 35px;
  float: right;
  overflow: hidden;
}

#header .control input {
  display: block;
  border: none;
  outline: none;
  height: 23px;
  line-height: 23px;
  position: absolute;
  top: 1px;
  right: 13px;
  width: 130px;
  padding-left: 8px;
  font-size: 13px;
  font-family: "微软雅黑",sans-serif;
}

#header .control .input-wrapper {
  background: url("../images/top_input.png") no-repeat;
  width: 170px;
  height: 25px;
  position: relative;
  float: left;
  overflow: hidden;
  margin-right: 8px;
}

#header .control .input-wrapper span {
  font-size: 0;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 2;
}

#header .control .input-wrapper .user {
  background: url("../images/user.png") right center no-repeat;
}

#header .control .input-wrapper .password {
  background: url("../images/password.png") right center no-repeat;
}

#header .control .input-wrapper .admin {
  background: url("../images/admin.png") right center no-repeat;
}

#header .control .login {
  float: left;
  cursor: pointer;
  width: 90px;
  height: 28px;
  line-height: 28px;
  background: url("../images/login.png") no-repeat;
  position: relative;
}

#header .control .login a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

#banner {
  position: relative;
}

#banner .banner-inner {
  min-width: 990px;
  overflow: hidden;
  margin: 0 auto;
}

#banner .banner-img {
  line-height: 0;
}

#banner .banner-img img {
  display: block;
  width: 100%;
}

#banner .sep-left, #banner .sep-right {
  position: absolute;
  z-index: -3;
  width: 50%;
  height: 252px;
  top: 0;
}

#banner .sep-left {
  background: #c3090d;
  left: 0;
}

#banner .sep-right {
  background: #606eaa;
  right: 0;
}

#nav {
  height: 76px;
  background: #f4491c;
  position: relative;
  border-bottom: 2px solid #f7b32a;
}

#nav .nav-inner {
  width: 1154px;
  margin: 0 auto;
  position: relative;
}

#nav ul {
  position: absolute;
  height: 50px;
  width: 1050px;
  text-align: center;
  line-height: 50px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#nav ul li {
  float: left;
  width: 95px;
  height: 50px;
  position: relative;
}

#nav ul li a {
  font-size: 15px;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
}

#nav ul li a.active {
  background: url("../images/nav-li.png") center center no-repeat;
}

#nav ul li a:hover {
  background: url("../images/nav-li.png") center center no-repeat;
}
